<%= render :partial => "application/admin_nav" %>

<div class="admin_content">
<% for person in @people %>

  <%= link_to person.name, person %> <br />

<% end %>

<br />
<br />

<%= link_to 'New Person', new_person_path %>

</div>
