<%= render :partial => "application/admin_nav" %>

<div class="admin_content">
<%= error_messages_for :person %>
<%= " Message: #{flash[:notice]}" if flash[:notice] %> 


<h1> Register a new user </h1>
  <%= render :partial => 'form' %>
  
</div>
