/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.team_members
{
	border: 2px solid black;
	padding-left: 5%;
}

.available_people
{
	border: 2px solid black;
	padding-left: 5%;
}

