<style>
	.content 
	{
		margin:0;
		padding: 0;
		box-shadow: 0 0 0;
	}
</style>

<div class="admin_nav">
	<ul class="vertical_nav">
		<li>
			<%=h link_to "Priorities", priorities_path %> 
		</li>
		<li>
		<%=h link_to "Stopovers", stopovers_path %> 
		</li>
		<li>
		<%=h link_to"Roles", roles_path %> 
		</li>
		<li>
		<%=h link_to "People", people_path %> 
		</li>
	</ul>	
</div>