Bonjour, 

<p>
	Vous êtes actuellement sur le tracker de Belianpe.
</p> 

<ul>
	<li>Qui sommes nous ?</li>


Au depart, Belianpe c'est 4 jeunes étudiants qui se sont rencontrés en IUT et qui aspiraient à la création
de jeux. Bien que nos chemins se soient séparés à l'obtention du DUT, l'idée a perduré.

Belianpe est donc une équipe jeune et dynamique composée d'ingénieurs qui investissent une partie de
leur temps libre au dévelopement de jeux video et de services web.

Pour cela, nous utilisons des technologies diverses (java, cpp, rails, php ...).


<li> Quels sont nos projets ?</li>

Notre groupe a pour vocation de travailler sur les sujets suivant :
<ul>
	<li>Le developement d'une librairie d'utilitaires en CPP permettant par exemple de faciliter le
		débuguage, faire de la seérialisation, gérer des grilles...
	</li>
	<li>
		La réalisation d'un moteur de jeu en 2D et la conception de jeux de type RPG voire MMORPG.
	</li>
	<li>
		La création d'applications (principalement des jeux) pour smartphone et notament pour le système Android.
	</li>
	<li>
		La conception d'outils Web tels que le tracker sur lequel vous êtes.
	</li>
</ul>

<li>FAQ:</li>

<ul>
	<li>
		Nous contacter: Il est possible de nous joindre par mail à l'adresse suivante : bidi-bidi@googlegroups.com
	</li>
	<li>
		Nous rejoindre: Nous ne recrutons personne actuellement, pour des raisons organisationnelles 
	</li>
	<li>
		Peut-on avoir accès au code source?
	</li>
Concernant les projets de jeu, la réponse est non. Le manque de documentation les rendrait innutilisables pour le momment de toute façon. 
Néanmoins, le tracker en rails est disponible sous git par le lien suivant: 
	<li>
		Comment peut-on jouer à vos jeux?
	</li>
	Il ne sont pas encore disponibles. Un peu de patience ;)
</ul>

</ul>