
<div class="bar_footer"></div>

<footer>
<div class="footer_content">
<div class="left">	
Powered by <%= link_to "TrickyTracker", "https://github.com/begault/TrickyTracker"%> - Agathe Begault
</div>
<div class="right">
	<%= link_to "Return to website", "http://88.167.124.51/"%>
</div>
</div>
</footer>
